/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



p {
    font-family: "Source Sans 3", system-ui;
    font-weight: normal;
}

h1, h2, h3 {
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* NAVIGATION SECTION */

nav {
    background-color: #eee;
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 70px;
}

nav a {
    font-family: "Source Code Pro", system-ui;
    font-weight: 500;
    font-size: 18px;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    color: #EF5024;
    font-weight: bold;
}


nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #eee;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: block;
}

.current-page {
    color: #EF5024;
    font-weight: bold;
}


.hideOnMobile{
    display: none;
}

.menu-button {
    display: block;
}

.sidebar {
    width: 100%;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* UTILITIES */

.container {
    max-width: 100%;
    margin: 0 auto;
}

.dashboard-small { max-width: 100%; margin: auto; }
.dashboard-medium { max-width: 100%; margin: auto; }
.dashboard-large { max-width: 100%; margin: auto; }

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* KEYFRAMES ANIMATIONS */
@keyframes fade-right {
    0% {
        opacity: 0;
        transform: translateX(30px) scale(0.5);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* SHOWCASE SECTION */

.showcase {
    height: 850px;
    padding: 70px 0;
}

.welcome-text {
    width: 100%;
    padding: 50px 30px 50px;
}

.welcome-text h4 {
    font-family: "Source Sans 3", system-ui;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
}

.welcome-text h4:first-child {
    font-weight: 500;
}

.profile-picture img {
    width: 100%;
    border-radius: 15px;
    animation: fade-right 0.8s;
    
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ABOUT ME SECTION */

.profile-picture-2 img {
    width: 100%;
    border-radius: 15px;
    animation: fade-right linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.about-me {
    background-color: #eee;
    padding: 50px 0;
}

.about-me-text {
    padding: 30px 50px 50px;
}

.about-me-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-me-text p {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 40px;
}

.about-me-text h3 {
    font-size: 24px;
    line-height: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* Buttons */

.btn {
    background-color: #8CD1E0;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 17px 70px;
}

.btn:hover {
    background-color: #1EADB5;
}

.social-icons a:hover {
    opacity: 80%;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* Footer Section */
footer {
    background-color: white;
    padding: 50px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer .copyright {
    margin-top: 70px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Resume */

.resume-title {
    padding-top: 100px;
    text-align: center;
    line-height: 1.9em;
}

.resume-title h1 {
    font-size: 38px;
    padding-bottom: 20px;
}

.resume-title p {
    font-size: 14px;
    padding-bottom: 20px;
}

.resume-body {
    padding: 0 15px;
    line-height: 1.9em;
}

.resume-section {
    margin: 40px 0;
}

.resume-section-title {
    font-family: 'Source Code Pro';
    font-weight: bold;
    font-size: 22px;
}

.resume-section-info h4 {
    font-family: 'Source Code Pro';
    padding-top: 30px;
}

.resume-section-info p {
    font-family: 'Source Sans Pro', sans-serif;
}

.resume-section-info ul {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}

.resume-section-info span {
    font-size: 14px;
    padding-bottom: 10px;
}



/* Tiles */

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: 0;
}

    .tiles article {
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        position: relative;
        width: 100%;
        margin: 1.25em 0 0 0;
    }

        .tiles article > .image {
            -moz-transition: -moz-transform 0.5s ease;
            -webkit-transition: -webkit-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
            transition: transform 0.5s ease;
            position: relative;
            display: block;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
        }

            .tiles article > .image img {
                display: block; 
                width: 100%;
            }

            .tiles article > .image:before {
                pointer-events: none;
                -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
                -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
                -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
                transition: background-color 0.5s ease, opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 1.0;
                z-index: 1;
                opacity: 0.8;
            }

            .tiles article > .image:after {
                pointer-events: none;
                -moz-transition: opacity 0.5s ease;
                -webkit-transition: opacity 0.5s ease;
                -ms-transition: opacity 0.5s ease;
                transition: opacity 0.5s ease;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                opacity: 0.25;
                z-index: 2;
            }

        .tiles article > a {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
            -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
            -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
            transition: background-color 0.5s ease, transform 0.5s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1em;
            border-radius: 4px;
            border-bottom: 0;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            z-index: 3;
        }

            .tiles article > a > :last-child {
                margin: 0;
            }

            .tiles article > a:hover {
                color: #ffffff !important;
            }

            .tiles article > a h2 {
                margin: 0;
            }

            .tiles article > a .content {
                -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
                -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
                -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
                transition: max-height 0.5s ease, opacity 0.5s ease;
                width: 100%;
                max-height: 0;
                line-height: 1.5;
                margin-top: 0.35em;
                opacity: 0;
            }

                .tiles article > a .content > :last-child {
                    margin-bottom: 0;
                }

        .tiles article.style1 > .image:before {
            background-color: #8cd1e0;
        }

        .tiles article.style2 > .image:before {
            background-color: #eca39c;
        }

        .tiles article.style3 > .image:before {
            background-color: #8cd1e0;
        }

        .tiles article.style4 > .image:before {
            background-color: #eca39c;
        }

        .tiles article.style5 > .image:before {
            background-color: #8cd1e0;
        }

        .tiles article.style6 > .image:before {
            background-color: #eca39c;
        }

        body:not(.is-touch) .tiles article:hover > .image {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

            body:not(.is-touch) .tiles article:hover > .image:before {
                background-color: #333333;
                opacity: 0.35;
            }

            body:not(.is-touch) .tiles article:hover > .image:after {
                opacity: 0;
            }

        body:not(.is-touch) .tiles article:hover .content {
            max-height: 15em;
            opacity: 1;
        }

    * + .tiles {
        margin-top: 2em;
    }

    body.is-preload .tiles article {
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0;
    }

    body.is-touch .tiles article .content {
        max-height: 15em;
        opacity: 1;
    }


.wrapper {
    margin-bottom: 30px;
}

.wrapper-project {
    margin-top: 100px;
    margin-bottom: 40px;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVENESS SECTION */

/* TABLET VIEW */
@media only screen and (min-width: 768px) {
    .hideOnMobile{
        display: block;
    }
    
    .menu-button {
        display: none;
    }

    .container {
    max-width: 700px;
    margin: 0 auto;
    }




}


/* DESKTOP VIEW */
@media only screen and (min-width: 1000px) {
    .hideOnMobile{
        display: block;
    }
    
    .menu-button {
        display: none;
    }

    .welcome-text {
        width: 40%;
        padding: 50px 30px 50px;
        float: left;
        margin-top: 80px;
    }

    .container {
    max-width: 1300px;
    }

    .dashboard-small { max-width: 54%; margin: auto; }
    .dashboard-medium { max-width: 62%; margin: auto; }
    .dashboard-large { max-width: 67%; margin: auto; }


    .showcase .container {
        height: 670px;
        display: block;
    }

    .showcase {
        height: 870px;
    }

    .profile-picture img {
        width: 50%;
        float: right;
        margin-top: 50px;
        
    }

    .profile-picture-2 img {
        width: 50%;
        float: left;
    }

    .about-me {
        height: 1000px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .about-me-text {
        width: 50%;
        float: right;
    }

    footer {
        height: 227px;
    }

    /* RESUME SECTION */
    .resume-section {
        display: flex;
    }

    .resume-section-title {
        width: 250px;
    }

    .resume-section-info {
        width: 800px;
        padding-left: 30px;
    }

    /* PORTFOLIO SECTION */
    .wrapper {
        margin: -1.25em 0 0 -1.25em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        row-gap: 10px;
        margin-bottom: 30px;
    }

    .wrapper-project {
        margin-top: 100px;
        margin-bottom: 40px;
    }


}



